@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1060px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

@import "libs/breakpoint";

@import "blocks/title";
@import "blocks/promo";
@import "blocks/information";
@import "blocks/steps";
@import "blocks/aim";
@import "blocks/footer";
