.aim {
  padding: 345px 0 155px 0;

  &-container {
    max-width: 100%;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 90px;
  }
  &-descr {
    font-size: 20px;
  }
  &-slider {
    display: flex;
    text-align: center;
    justify-content: center;

    &-text {
      font-weight: bold;
      font-size: 26px;
      margin-top: 10px;
    }
  }
  &-item {
    margin-right: 60px;
    width: 350px;
    height: 500px;
    &-img {
      img {
        box-shadow: 25px -14px 2px #4bf0f2;
        width: 100%;
        border-radius: 4%;
      }
    }
  }
}

@include big-desktop {
  .aim {
    padding: 50px 0 70px 0;
    &-wrapper {
      grid-template: auto auto / 100%;
      row-gap: 100px;
    }
  }
}

@include small-tablet {
  .aim {
    &-wrapper {
      row-gap: 50px;
    }
    &-info {
      text-align: center;
    }
    &-descr {
      font-size: 17px;
    }
    &-item {
      margin-right: 20px;
      width: 350px;
      height: 355px;
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
