.footer {
  padding-bottom: 60px;
  &-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      margin-right: 25px;
      height: 80px;
      width: 80px;
      img {
        width: 100%;
      }
    }
  }
}

@include small-tablet {
  .footer {
    padding-bottom: 0px;
  }
}
